body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}
h1 {
  color: #eeecec;
  text-align: center;
}
.container {
  width: 80;
  margin: 0 auto;
  background: #7c0b0b;
  padding: 20px;
}

div {
  display: none; }

div:target {
  display: block; }

div[id*=tab]:target ~ #two { 
  display: block; } 

  div[id*=tab]:target ~ #three { 
  display: block; } 

