body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}
h1 {
  color: #eeecec;
  text-align: center;
}
.container {
  width: 80;
  margin: 0 auto;
  background: #7c0b0b;
  padding: 20px;
}

.content-page { display: none; }
.content-page.active { display: block; }

